* class |  Dog | 
* instance | dog:

1. hook up plain python class to a  table

In [64]:
imported sqlalchemy 
Base = declarative_base()
import Text, Column, Integer from sqlalchemy
class Dog(Base):
    __tablename__ = 'dogs'
    id = Column(Integer, primary_key = True)
    name = Column(Text)

SyntaxError: invalid syntax (<ipython-input-64-6f2273f08d9b>, line 1)

In [ ]:
2. from sqlalchemy.orm import create_engine

engine = create_engine('sqlite:///pets.db', echo = True)

In [ ]:
Base.metadata.create_all(engine)

In [ ]:
dog = Dog(name = 'bob')

In [ ]:
3. 

Session = session_maker()

session = Session(bind = engine)

session.add(dog)
session.commit()

session.query(Dog).all()

* SQL: 
    * Class in Python lines up to a table in SQL 
    * An instance is like a row

* DRY - don't repeat yourself, because they have similar attributes

In [9]:
class Pet():
    name = 'bob'

In [10]:
bob = Pet()

In [11]:
bob.name

'bob'

In [12]:
class Dog(Pet):
    pass

In [7]:
fred = Dog()

In [8]:
fred.name

'bob'

### Sqlalchemy

1. Tell our python classes about a table via sqlalchemy
2. Connect our python classes to a database
3. querying

In [13]:
from sqlalchemy.ext.declarative import declarative_base

In [16]:
# class Base:
#     def __init__(name):
#         self.name = name

In [43]:
Base = declarative_base()
from sqlalchemy import Integer, Column, Text




class Dog(Base):
    __tablename__ = 'dogs'
    id = Column(Integer, primary_key = True)
    name = Column(Text)
    
    def full_name():
        self.first_name + self.last_name

In [44]:
bobby = Dog(name = 'bobby')

In [45]:
bobby.name

'bobby'

In [46]:
Dog.__table__

Table('dogs', MetaData(bind=None), Column('id', Integer(), table=<dogs>, primary_key=True, nullable=False), Column('name', Text(), table=<dogs>), schema=None)

### Step 2, connecting to a database

In [47]:
import sqlalchemy

In [50]:
engine = sqlalchemy.create_engine("sqlite:///pets.db", echo = True)

In [51]:
Base.metadata.create_all(engine)

2018-11-02 17:10:15,842 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-11-02 17:10:15,851 INFO sqlalchemy.engine.base.Engine ()
2018-11-02 17:10:15,864 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-11-02 17:10:15,865 INFO sqlalchemy.engine.base.Engine ()
2018-11-02 17:10:15,875 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("dogs")
2018-11-02 17:10:15,876 INFO sqlalchemy.engine.base.Engine ()
2018-11-02 17:10:15,892 INFO sqlalchemy.engine.base.Engine
CREATE TABLE dogs (
	id INTEGER NOT NULL,
	name TEXT,
	PRIMARY KEY (id)
)


2018-11-02 17:10:15,893 INFO sqlalchemy.engine.base.Engine ()
2018-11-02 17:10:15,905 INFO sqlalchemy.engine.base.Engine COMMIT

### Query some data

In [54]:
from sqlalchemy.orm import sessionmaker

In [56]:
Session = sessionmaker()

In [57]:
session = Session(bind = engine)

In [58]:
session.add(bobby)

In [59]:
session.commit()

2018-11-02 17:18:53,826 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-02 17:18:53,845 INFO sqlalchemy.engine.base.Engine INSERT INTO dogs (name) VALUES (?)
2018-11-02 17:18:53,846 INFO sqlalchemy.engine.base.Engine ('bobby',)
2018-11-02 17:18:53,860 INFO sqlalchemy.engine.base.Engine COMMIT

In [61]:
type(session.query(Dog).all())

2018-11-02 17:19:37,931 INFO sqlalchemy.engine.base.Engine SELECT dogs.id AS dogs_id, dogs.name AS dogs_name
FROM dogs
2018-11-02 17:19:37,933 INFO sqlalchemy.engine.base.Engine ()

list

In [63]:
session.query(Dog).all()[0].name

2018-11-02 17:19:46,992 INFO sqlalchemy.engine.base.Engine SELECT dogs.id AS dogs_id, dogs.name AS dogs_name
FROM dogs
2018-11-02 17:19:46,995 INFO sqlalchemy.engine.base.Engine ()

'bobby'